.name {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 8px #359768;
  background-color: #d9f2e6;
  box-shadow: 10px 10px 5px #d1d1e0;
  border: 3px solid #a0dec0;
  padding: 10px;
  border-radius: 15px;
  width: 600px;
  margin: auto;
}

img {
border-radius: 15px;
}

.projects {
  text-align: left;
  font-size: 16px;
  text-shadow: 2px 2px 8px #d17a7a;
  background-color: #f2d9d9;
  box-shadow: 10px 10px 5px #d1d1e0;
  border: 3px solid #983434;
  padding: 10px;
  border-radius: 15px;
  width: 900px;
  margin: 8%;
}

.projects h1 {
  text-align: center;
}
a:link{
  color: grey;
}

a:hover {
  color: white;
}

a:visited {
  color: darkred;
}

a:active {
  color: #4c1a1a;
}
