body {
  background: url("../img/roof.jpg");
}
.name {
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 8px grey;
  background: url("../img/rain.jpg");
  box-shadow: 10px 10px 5px black;
  border: 3px solid #a0dec0;
  padding: 10px;
  border-radius: 15px;
  width: 600px;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
}
.wishingandhoping {
  font-style: italic;
}

#title{
  padding-top: 5px;
}

p {
  font-size: 32px;
  padding-top: 20px;
}
img {
border-radius: 15px;
box-shadow: black;
float: left;
}

img:hover{
  box-shadow: 7px 7px 5px #d1b361;
}

.projects {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 8px #d17a7a;
  background: url("../img/red.jpg");
  box-shadow: 10px 10px 5px black;
  border: 3px solid #983434;
  padding: 10px;
  border-radius: 15px;
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
}

.projects h1 {
  text-align: center;
  color: #e8d9b0;
  text-shadow: 2px 2px 4px #000000;
}

.projects a:link {
  color: orange;
}

.projects a:hover {
  box-shadow: 3px 3px 3px #d1b361;
}

.projects a:visited {
  color: darkred;
}

.projects a:active {
  color: #4c1a1a;
}

.projects li {
  background-color: #ffe6cc;
  font-size: 20px;
  padding: 6px;
  padding-left: 10px;
  margin: 20px;
  border: solid black;
  border-radius: 6px;
  width: 60%;
  box-sizing: content-box;
}

.small li {
  background-color: #d9948c;
  font-size: 16px;
  padding: 6px;
  padding-left: 0px;
  padding-right: 10px;
  border: none;
  width: 95%;
}

.me {
  text-align: left;
  font-size: 50px;
  text-shadow: 2px 2px 8px #d17a7a;
  background: url("../img/gliter.jpg");
  box-shadow: 10px 10px 5px black;
  border: 3px solid #cc6600;
  padding: 10px;
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.me li {
  font-size: 16px;
  padding: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  width: 60%;
}
